<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add User</title>
  </head>
  <body>
    <h1>Add User</h1>
    <form action="/" method="post">
      <input type="hidden" name="action" value="add_user">
      First name:
      <input type="text" name="first_name" required><br>
      Last name:
      <input type="text" name="last_name" required><br>
      E-mail:
      <input type="email" name="email" required><br>
      Password:
      <input type="password" name="password" required><br>
      <input type="radio" name="user_type" value="teacher" checked> Teacher 
      <input type="radio" name="user_type" value="student"> Student <br>
      <input type="checkbox" name="signup_bonus" value="signup_gotten"> Signup bonus has been received.<br>
      <input class="btn btn-primary" type="submit" value="Save">
    </form>
  </body>
</html>
