<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Put Student in Line</title>
  </head>
  <body>
    <h1>Put Student in Line</h1>
    <form action="/admin" method="post">
      <input type="hidden" name="action" value="add_line_entry">
      <table>
      <thead>
        <th></th>
        <th>Student name</th>
        <th>E-mail</th>
      </thead>
      {% for user in users %}
      <tbody>
        <td>
          <input type="radio" name="key" value="{{ user.key }}"> 
        </td> 
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
      </tbody>
      {% endfor %}
      </table>
      {% if not users %}
      There are no students in the database. <br>
      {% else %}
      <input class="btn btn-primary" type="submit" value="Save">
      {% endif %}
    </form>
  </body>
</html>
