<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Users Admin</title>
  </head>
  <body>
    {% if message %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endif %}
    <a class="btn btn-primary" href="user/new" role="button">+ Add User</a>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Users Admin</div>
      
      {% if users|length > 0 %}
      <!-- Table -->
      <table class="table">
        <thead>
          <th>First name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>Type</th>
          <th></th>
        </thead>
        {% for user in users %}
        <tbody>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>TODO</td>
          <td><a class="btn btn-primary" href="/user/edit?key={{ user.key }}" role="button">Edit</a></td>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
      <h3>The database is empty.</h3>
      {% endif %}
    </div>  
  </body>
</html>
