<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cards Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    {% if message %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endif %}
    <a class="btn btn-primary" href="/add" role="button">+ Add Card</a>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Cards Admin</div>
      
      {% if cards|length > 0 %}
      <!-- Table -->
      <table class="table">
        <tr>
          <th>Card name</th>
          <th>Card type</th>
          <th>Signup bonus received?</th>
          <th>Points URL</th>
          <th>Started</th>
          <th></th>
          <th></th>
        </tr>
        {% for card in cards %}
        <tr>
          <td>{{ card.name }}</td>
          <td>{{ card.card_type }}</td>
          <!-- <td>{{ card.signup_bonus }}</td> -->
          <td>
          {% if card.signup_bonus %}
          Yes
          {% else %}
          No
          {% endif %}
          </td>
          <td><a href="{{ card.points_url }}">{{ card.points_url }}</a></td>
          <td>{{ card.date_started }}</td>
          <td><a class="btn btn-primary" href="/edit?key={{ card.key }}" role="button">Edit</a></td>
          <td><a class="btn btn-danger" href="/delete?key={{ card.key }}" role="button">Delete</a></td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <h3>The database is empty.</h3>
      {% endif %}
    </div>  
  </body>
</html>
