<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Waiting List Admin</title>
  </head>
  <body>
    {% if message %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endif %}
      <!-- Default panel contents -->
      <a href="{{ logout_url }}">Logout</a>
      <h2 class="panel-heading">Waiting List Admin</h2>
      <a class="btn btn-primary" href="admin/user/new" role="button">+ Add User</a><br>
      <a class="btn btn-primary" href="admin/class/new" role="button">+ Add Class</a>
      {% if users|length > 0 or admins|length > 0 %}
      <!-- Table -->
      <table class="table">
        <thead>
          <th>First name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>Type</th>
          <th></th>
        </thead>
        {% for admin in admins %}
        <tbody>
          <td>{{ admin.first_name }}</td>
          <td>{{ admin.last_name }}</td>
          <td>{{ admin.email }}</td>
          <td>Teacher</td>
          <td><a class="btn btn-primary" href="/user/edit?key={{ admin.key }}" role="button">Edit</a></td>
        </tbody>
        {% endfor %}
        {% for user in users %}
        <tbody>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>Student</td>
          <td><a class="btn btn-primary" href="admin/user/edit?key={{ user.key }}" role="button">Edit</a></td>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
      <h3>The database is empty.</h3>
      {% endif %}
      <h2 class="panel-heading">Waiting List</h2>
      <a class="btn btn-primary" href="admin/lineentry/new" role="button">+ Add Student</a><br>
      {% if lineentries|length > 0 %}
        {% for lineentry in lineentries %}
          {{ lineentry.first_name }} {{ lineentry.last_name }}, added {{ lineentry.created }} <br>
        {% endfor %}
      {% else %}
      There is no one in line.
      {% endif %}
  </body>
</html>
