<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit User</title>
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/" method="post">
      <input type="hidden" name="action" value="edit_user">
      <input type="hidden" name="key" value="{{ user.key }}">
      First name:
      <input type="text" name="first_name" value="{{ user.first_name }}" required><br>
      Last name:
      <input type="text" name="last_name" value="{{ user.last_name }}" required><br>
      E-mail:
      <input type="email" name="email" value="{{ user.email }}" required><br>
      <!-- Password:
      <input type="password" name="password" value="{{ user.password }}" required><br> -->
      <!-- <input type="radio" name="user_type" value="admin" checked> Teacher 
      <input type="radio" name="user_type" value="user"> Student <br> -->
      <fieldset>
        <legend>Associated Classes</legend>
      {% for class in classes %}
      <input type="checkbox" name="classes[]" value="{{ class.key }}" {% if class.key in user.classes %}checked{% endif %}> {{ class.name }} 
      {% endfor %}
      </fieldset>
      <input class="btn btn-primary" type="submit" value="Save">
    </form>
  </body>
</html>
